@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  body {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 45%,
        rgba(43, 48, 58, 1) 0%,
        rgba(251, 228, 14, 1) 30%
      )
      fixed;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70;
  backdrop-filter: blur(5px);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black;
}
.hamburger-line-white {
  @apply w-[30px] h-[2px] my-2 block bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
